.container{background: yellow;
    width: 800px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;}
.head{width: 100%;
    height: 10%;
    background: orange;}
.logo{float: left;
    width: 20%;
    height: 100%;
    background: indianred;}
.menu{background: #ab6818;
    width: 80%;
    height: 100%;
    float: right;}
.banner{width: 100%;
    height: 40%;
    background: coral;}
.part{width: 800px;
    height: 250px;
    background: darkmagenta;}
.part1{width: 40%;
    height: 50%;
    background: slateblue}
.part2{width: 40%;
    height: 50%;
    background: red;}
.inside{}
.footer{width: 800px;
    height: 100px;
    background: forestgreen;}
.qq{
	width: 100%;
	height: 50%;
	background-color: blue;
}
